$purple: #380158;
$dark-purple: #350053;
$very-light-gray: #f7f7f7;
$light-gray: #c9c9c9;
$gray: #afafaf;
$dark-gray: #4a4a4a;
$dark-gray-secondary: #606060;
$green-primary: #0dc74f;
$green-secondary: #0fce33;
$white: #fff;
