@import '../../styles/theme.scss';
@import '../../styles/mixins/padding.scss';
@import '../../styles/mixins/responsive.scss';
@import '../../styles/mixins/fonts.scss';

.contact {
    @include Padding;
    padding-top: 15.93rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.93rem 3rem;

    background-image: url('../../images/welcome-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10rem;

    @include Phone {
        grid-template-columns: 1fr;
    }

    @include Tablet {
        margin-bottom: 4rem;
    }
}

.texts {
    span {
        @include SizeNormal;
        font-weight: bold;
        color: $green-secondary;
    }

    h2 {
        @include SizeLarge;
        margin: 1rem 0;
    }

    p {
        @include SizeNormal;
        opacity: 0.7;
    }

    @include Phone {
        text-align: center;
    }
}

.form {
    padding: 2.37rem 1.93rem;
    background-color: $white;
    border: 0.5px solid $light-gray;
    border-radius: 0.62rem;
    padding: 2.37rem 1.93rem;

    @include Phone {
        margin-top: 3rem;
    }

    h3 {
        color: $purple;
        font-size: 2.18rem;
        padding-bottom: 1.87rem;
    }

    form {
        display: grid;
        gap: 1.43rem;
    }
}

.footer {
    grid-column-start: 2;
    text-align: center;
    padding: 0 6rem;
    line-height: 2rem;
    color: $gray;

    @include Phone {
        grid-column-start: 1;
        padding: 0 1rem;
    }

    @include Tablet {
        padding: 0 1rem;
    }

    span {
        color: $white;
        cursor: pointer;
    }
}
