@import '../../styles/mixins/padding.scss';
@import '../../styles/mixins/responsive.scss';
@import '../../styles/mixins/fonts.scss';

.welcome {
    @include Padding;
    background-image: url('../../images/welcome-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    padding-top: 13.68rem;

    @include Phone {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        background-size: cover;
        padding-top: 1rem;
    }

    @include Tablet {
        height: 100%;
        margin: 5rem 0 10rem;
        padding-top: 4rem;
    }

    @include Laptop {
        padding-top: 6rem;
    }

    .text {
        @include Phone {
            text-align: center;
        }

        h1 {
            font-weight: bold;
            @include SizeExtra;
        }

        p {
            @include SizeNormal;
            opacity: 0.7;
            margin: 2rem 0;
        }
    }

    .image {
        text-align: end;

        @include Phone {
            text-align: center;
            grid-column: 1;
            grid-row: 1;

            img {
                max-width: 100%;
            }
        }

        @include Tablet {
            text-align: center;

            img {
                max-width: 100%;
            }
        }
    }
}
