@import '../../styles/mixins/padding.scss';
@import '../../styles/mixins/responsive.scss';
@import '../../styles/mixins/fonts.scss';
@import '../../styles/theme.scss';

.footer {
    @include Padding;
    padding-top: 4.5rem;
    background-color: $very-dark-purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include Phone {
        grid-template-columns: 1fr;
        padding-top: 1rem;
        gap: 1rem;
    }
}

.column {
    margin-top: 2rem;

    &.columnPrincipal {
        margin-top: 0px;
    }

    .title {
        @include SizeNormal;
        font-weight: 300;
        color: $white;
        margin: 0.8rem 0;
    }

    h3 {
        @include SizeSmall;
        color: $green-primary;
    }

    a {
        display: block;
        margin-top: 0.8rem;
        font-size: 1.5rem;
    }

    .socialLinks {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;

        @include Phone {
            justify-content: flex-start;
        }
    }

    .alignRight {
        text-align: right;

        @include Phone {
            text-align: left;
        }
    }
}

.allRightsReserved {
    padding: 6rem 0 1rem;
    font-size: 1.25rem;
    color: $gray;
    grid-column: span 4;
    text-align: center;

    @include Phone {
        grid-column: 1;
    }
}
