@import '../../styles/theme.scss';
@import '../../styles/mixins/padding.scss';

.header {
    @include Padding;
    width: 100%;
    background-color: $purple;
    border-bottom: 0.031rem solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.12rem 11.25rem;
}

.menu {
    ul {
        list-style: none;
        display: flex;
    }

    a {
        margin-left: 1.68rem;
        font-size: 1.37rem;
        color: $white;
    }
}
