@import '../../styles/theme.scss';
@import '../../styles/mixins/responsive.scss';
@import '../../styles/mixins/fonts.scss';

.feature {
    max-width: 31.81rem;
    max-height: 21.68rem;
    width: 100%;
    height: 100%;
    padding: 2rem 2.18rem;
    border-radius: 0.31rem;
    background-color: $white;

    @include Phone {
        padding: 1.25rem;
    }

    h3 {
        font-weight: bold;
        @include SizeMedium;
        color: $dark-purple;
        margin: 1rem 0;
    }

    p {
        font-size: 1.37rem;
        color: $dark-gray;
    }
}
