@import '../../styles/theme.scss';

.input {
    padding: 1.37rem 1.06rem;
    background-color: $very-light-gray;
    border-radius: 0.31rem;
    border: none;
    font-size: 1.18rem;
    font-weight: 300;
    color: $dark-gray-secondary;

    & + & {
        margin-top: 1.43rem;
    }
}
