@import './responsive.scss';

@mixin SizeExtra {
    font-size: 4.43rem;

    @include Phone {
        font-size: 2.18rem;
    }

    @include Tablet {
        font-size: 3.12rem;
    }

    @include Laptop {
        font-size: 3.438rem;
    }
}

@mixin SizeLarge {
    font-size: 4.06rem;

    @include Phone {
        font-size: 2rem;
    }

    @include Tablet {
        font-size: 2.813rem;
    }

    @include Laptop {
        font-size: 3.125rem;
    }
}

@mixin SizeMedium {
    font-size: 2.56rem;

    @include Phone {
        font-size: 1.6rem;
    }

    @include Tablet {
        font-size: 2rem;
    }

    @include Laptop {
        font-size: 2.18rem;
    }
}

@mixin SizeNormal {
    font-size: 1.87rem;

    @include Phone {
        font-size: 1.3rem;
    }

    @include Tablet {
        font-size: 1.25rem;
    }

    @include Laptop {
        font-size: 1.75rem;
    }
}

@mixin SizeSmall {
    font-size: 1.37rem;

    @include Phone {
        font-size: 0.68rem;
    }

    @include Tablet {
        font-size: 0.938rem;
    }

    @include Laptop {
        font-size: 1.125rem;
    }
}
